/*********************************************************************************************************************************************
 FUNDO DA PÁGINA 
**********************************************************************************************************************************************/	
body {	
	background-color:#94857B; /* cor do fundo */
	}
	
	
/*********************************************************************************************************************************************
 LOGO NO CABEÇALHO DA PÁGINA 
**********************************************************************************************************************************************/	
img.logo {
    margin-top: 60px; /* margem em cima */
	display: block; /* centralizando imagem  - o de baixo tambem é necessário */
    margin-left: auto; /* centralizando imagem */
    margin-right: auto; /* centralizando imagem */
	}


/*********************************************************************************************************************************************
 FUNDO POUCO MAIS ESCURO DE FUNDO DO BOX DE LOGIN
**********************************************************************************************************************************************/		
#login_box {
	background-color:#8D827A; /* cor de fundo do objeto*/
	width:380px; /* largura */
	height: 490px; /* altura */
	margin: 40px auto 0px; /* margem - neste caso esta 40 em cima / centralizado / zero em baixo */
	border-radius:8px; /* canto arredondado */	
	}
	

/*********************************************************************************************************************************************
 BOX DE LOGIN 
**********************************************************************************************************************************************/		
#login_box_inside {
	background-color:#F7F0EC; /* cor de fundo do objeto */
	width:360px; /* largura */
	height: 470px;	/* altura */
	margin: 10px; /* margem em todos os lados */
	border-radius:5px;	/* canto arredondado */	
	position: absolute; /* centraliza o objeto */
	box-shadow:0px 0px 5px black; /* sombra atras do objeto*/
	overflow:hidden; /* visual do link */
	}

/*********************************************************************************************************************************************
 LABEL INTERNO SUPERIOR DO BOX DE LOGIN
**********************************************************************************************************************************************/	
#login_box_label{ 
	 background-color:#94857B; /* cor de fundo do objeto */
	 height: 45px;	
	 text-align: center;  /* centraliza o texto dentro do objetovisual do link */
	 color: #F7F0EC;
	 font: bold 14px/45px sans-serif; /* fonte 14px é o tamanho/45px é a distancia em cima*/
	 text-shadow: 1px 0px 1px gray;
	 border-top-left-radius: 5px; /* canto arredondado somente em cima na esquerda */
	 border-top-right-radius: 5px; /* canto arredondado somente em cima na direita*/
	 border-bottom:1px solid #666361;
	 box-shadow:1px 0px 3px #666361; /* sombra atras do objeto*/
	}


/*********************************************************************************************************************************************
 FUNDO POUCO MAIS ESCURO DOS ESPAÇOS DE PREENCHIMENTO DE EMAIL E SENHA
**********************************************************************************************************************************************/		
.input_div{
	margin: 20px;
	padding: 5px;
	background-color: #F0EAE7; 
	border-radius: 3px;
	}

	
/*********************************************************************************************************************************************
ESPAÇOS DE PREENCHIMENTO DE EMAIL E SENHA
**********************************************************************************************************************************************/	
.input_div input{
	width:300px;
	height: 35px;
	padding-left: 5px;	
	font: normal 13px sans-serif;
	color: #94857B; 
	border-radius: 3px;
	border: 1px solid gray;
	outline: none;
	}
	
	
/*********************************************************************************************************************************************
HOVER: COMPORTAMENTO AO PASSAR O CURSOR NOS ESPAÇOS DE PREENCHIMENTO DE EMAIL E SENHA - MUDA A COR DE FUNDO BORDA
**********************************************************************************************************************************************/		
.input_div:hover{
	background-color: #FF7C1C;	
	}
	
	
/*********************************************************************************************************************************************
HOVER: COMPORTAMENTO AO PASSAR O CURSOR NOS ESPAÇOS DE PREENCHIMENTO DE EMAIL E SENHA - MUDA A COR DO CONTORNO
**********************************************************************************************************************************************/	
.input_div:hover input{
	border-color: gray;	
	}


/*********************************************************************************************************************************************
PARA O TEXTO DENTRO DO ESPAÇO DE PREENCHIMENTO NÃO FICAR COLADO NA MARGEM
**********************************************************************************************************************************************/	
#input_password{
	margin-top: -10px;
	}
	
	
/*********************************************************************************************************************************************

**********************************************************************************************************************************************/	
#buttonss{
	width:300px;
	margin-left: -80px
	}
	
	
/*********************************************************************************************************************************************

**********************************************************************************************************************************************/	
#buttonn{
	float: right;
	background-color: red;
	padding: 5px 15px;
	font: bold 12px sans-serif; 
	border-radius: 20px;
	text-shadow: 0px 1px 0px red;
	border: 1px solid gray;
	background-color: #FF7C1C;	
	color: white;
	box-shadow:0px 0px 10px #C9C9C9; /* sombra atras do objeto*/	
	}	
	

/*********************************************************************************************************************************************
HOVER: COMPORTAMENTO AO PASSAR O CURSOR NO BOTÃO "LOGIN"
**********************************************************************************************************************************************/		
#buttonn:hover{
	background-color: white; /* MUDA cor de fundo do objeto */
	cursor:pointer; /* MUDA cursor */
	color: #FF7C1C; /* MUDA cor da fonte */
	}
	

/*********************************************************************************************************************************************
HOVER: COMPORTAMENTO AO PASSAR O CURSOR NO BOTÃO "CADASTRAR"
**********************************************************************************************************************************************/		
#cadastro:hover{
	background-color: white; /* MUDA cor de fundo do objeto */
	cursor:pointer; /* MUDA cursor */
	color: #FF7C1C; /* MUDA cor da fonte */
	}

