/*********************************************************************************************************************************************
 FUNDO DA PÁGINA 
**********************************************************************************************************************************************/	
body {
	background-color: #94857B; /* cor de fundo */
    color: #333333; /* cor da fonte */
    font-family: 'Arimo';font-size: 22px; /*fonte e opções */
	}


/*********************************************************************************************************************************************
 CONTAINER COLEÇÃO E FOTOS
**********************************************************************************************************************************************/	
.container {
	padding: 200px 0px; /* espaço para cima */
	margin: 0 auto; /*centralizado */
	width: 940px; /*    */
	}

	
/*********************************************************************************************************************************************
 CONTAINER MINHA COLEÇÃO 
**********************************************************************************************************************************************/		
.novidades {
	float: left;
	background-color: #F0EAE7;
	}
	

/*********************************************************************************************************************************************
 CONTAINER OUTRAS COLEÇÕES
**********************************************************************************************************************************************/		
.mais-vendidos {
	float: right;
	background-color: #F0EAE7;
	}


/*********************************************************************************************************************************************
 
**********************************************************************************************************************************************/		
.painel {
	margin: 10px 0;
	padding: 10px;
	width: 445px;
	}
	
	
/*********************************************************************************************************************************************

**********************************************************************************************************************************************/	
.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin: 2px;
	padding-bottom: 10px;
	}

	
/*********************************************************************************************************************************************

**********************************************************************************************************************************************/		
.painel h2 {
	/*  padding???????   e dividir os dois identificando   */
	/* padding: 0px 110px; */
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	}

	
/*********************************************************************************************************************************************

**********************************************************************************************************************************************/		
.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	}







