header {
    position: sticky;
    }


body {
    background-color: #94857B;
    color: #333333;  
    font-family: 'Arimo';font-size: 22px;
    }

img.logo {        
	display: block;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	}
    