header {
    position: sticky;
    }


body {
    background-color: #94857B;
    color: #333333;  
    font-family: 'Arimo';font-size: 22px;
    }

img.logo {        
	display: block;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	}
    

#menu ul {
	font-family: 'Arimo';font-size: 16px;      
	padding:0px;
	margin-top:80px;
	list-style:none;
	margin-left: +30%;
	margin-right: auto;
	
    }
	

#menu ul li {
	padding: 2px 10px;
    display: inline;
    text-align: center;
	margin-right: 20px;
	
	}

	
#menu ul li a {
	padding: 2px 10px;
	margin-top: 30px;
	text-align: center;
	background-color: #FF7C1C;
	color: #000000;
	text-decoration: deeppink;
	border: 1px solid gray;
	border-radius:8px; /* canto arredondado */
    }

	
#menu ul li a {
	padding: 4px 15px;
	margin-top: 30px;
	text-align: center;
	background-color: #FF7C1C;
	color: white;
	text-decoration: deeppink;
	border-radius:8px; /* canto arredondado */
    }
	
		
#menu ul li a:hover {
	background-color: white;
	cursor:pointer; /* MUDA cursor */
	border: 1px solid gray;
	color: #FF7C1C;
    }

