


header {
position: relative;
}


body {
color: #333333;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.sacola {
background-image: url(../img/sacola.png);
background-repeat: no-repeat;
background-position: top right;
font-size: 14px;
padding-right: 35px;
padding-top: 8px;
text-align: right;
width: 140px;
position: absolute;
top: 0;
right: 0;
}


.busca,
.menu-departamentos {
float: left;
}


.menu-opcoes {
position: absolute;
bottom: 0;
right: 0;
}
.menu-opcoes ul {
font-size: 15px;
}
.menu-opcoes a {
color: #003366;
}
.menu-opcoes ul li {
display: inline;
margin-left: 20px;
}




.container {
margin: 0 auto;
width: 940px;
}



.busca,
.menu-departamentos {
float: left;
}
.menu-departamentos {
clear: left;
}
.menu-departamentos {
text-transform: uppercase;
}



.item-menu {
text-decoration: none;
}



.busca,
.menu-departamentos {
background-color: #DCDCDC;
font-weight: bold;
text-transform: uppercase;
margin-right: 10px;
width: 230px;
}
.busca h2,
.busca form,
.menu-departamentos h2 {
margin: 10px;
}
.menu-departamentos li {
background-color: white;
margin-bottom: 1px;
padding: 5px 10px;
}
.menu-departamentos a {
color: #333333;
text-decoration: none;
}


.busca input[type=search] {
width: 170px;
}


.busca,
.menu-departamentos {
float: left;
}
.menu-departamentos {
clear: left;
}



.destaque {
margin-top: 10px;
}
.menu-departamentos {
margin-top: 10px;
padding-bottom: 10px;
}



.painel {
margin: 10px 0;
padding: 10px;
width: 445px;
}
.novidades {
float: left;
}
.mais-vendidos {
float: right;
}

.painel li {
display: inline-block;
vertical-align: top;
width: 140px;
margin: 2px;
padding-bottom: 10px;
}


.painel h2 {
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 10px;
}
.painel a {
color: #333;
font-size: 14px;
text-align: center;
text-decoration: none;
}
.novidades {
background-color: #F5DCDC;
}
.mais-vendidos {
background-color: #DCDCF5;
}


footer {
background-image: url(../img/fundo-rodape.png);
}
.social a {
/* tamanho da imagem */
height: 32px;
width: 32px;

.
/* image replacement */
display: block;
text-indent: -9999px;
}
.social a[href*="facebook.com"] {
background-image: url(../img/facebook.png);
}
.social a[href*="twitter.com"] {
background-image: url(../img/twitter.png);
}
.social a[href*="plus.google.com"] {
background-image: url(../img/googleplus.png);
}


footer {
clear: both;
}


footer {
padding: 20px 0;
}
footer .container {
position: relative;
}
.social {
position: absolute;
top: 12px;
right: 0;
}


.social li {
float: left;
margin-left: 25px;
}



.busca button {
/* adicionando imagem */
background-image: url(../img/busca.png);
background-repeat: no-repeat;
border: none;
/* tamanho da imagem */
width: 20px;
height: 20px;
/* imagem replacement */
text-indent: -9999px;
}


.menu-opcoes a:hover {
color: #007DC6;
}
.menu-opcoes a:active {
color: #867DC6;
}

.menu-departamentos li ul {
display: none;
}
.menu-departamentos li:hover ul {
display: block;
}
.menu-departamentos ul ul li {
background-color: #DCDCDC;
}



.menu-departamentos li li a:before {
content: '- ';
}



.menu-departamentos li li a:before {
content: '\272A';
padding-right: 3px;
}
.painel h2:before {
content: '\2756';
padding-right: 5px;
opacity: 0.4;
}
